@keyframes bpk-dialog-wrapper-scrim-vNNUO{0%{opacity:0}100%{opacity:1}}.bpk-dialog-wrapper--container-H8J_o{padding:0;border:none}.bpk-dialog-wrapper--container-H8J_o::backdrop{position:fixed;background-color:rgba(0,0,0,.7);animation:bpk-modal-scrim-BmnN0 400ms ease-in-out;inset:0;inset-block-end:0;inset-inline:0;inset-inline-end:0}.bpk-dialog-wrapper--backdrop-cFF7P{position:fixed;z-index:0;margin:0 auto;background-color:rgba(0,0,0,.7);animation:bpk-dialog-wrapper-scrim-vNNUO 200ms ease-in-out;inset:0;inset-block-end:0;inset-inline:0;inset-inline-end:0}.bpk-dialog-wrapper--contents-SC4ue{min-height:100%;padding:0}
.bpk-link-HTcaq{position:relative;display:inline;padding:0;border:0;background-color:rgba(0,0,0,0);text-decoration:none;cursor:pointer;appearance:none;color:var(--bpk-link-color, rgb(22, 22, 22))}.bpk-no-touch-support-GXrEY .bpk-link-HTcaq:hover:not(:active):not(:disabled){text-decoration:none;color:var(--bpk-link-hover-color, rgb(22, 22, 22))}.bpk-no-touch-support .bpk-link-HTcaq:hover:not(:active):not(:disabled){text-decoration:none;color:var(--bpk-link-hover-color, rgb(22, 22, 22))}.bpk-link-HTcaq:visited{color:var(--bpk-link-visited-color, rgb(22, 22, 22))}.bpk-link-HTcaq:active{color:var(--bpk-link-active-color, rgb(22, 22, 22))}.bpk-link--active-LHZIq{color:#161616}.bpk-link--active-LHZIq:visited{color:#161616}.bpk-link--active-LHZIq:active{color:#161616}.bpk-link--implicit-K0Gkq{color:var(--bpk-link-color, rgb(22, 22, 22))}.bpk-no-touch-support-GXrEY .bpk-link--implicit-K0Gkq:hover:not(:active):not(:disabled){color:var(--bpk-link-hover-color, rgb(22, 22, 22))}.bpk-no-touch-support .bpk-link--implicit-K0Gkq:hover:not(:active):not(:disabled){color:var(--bpk-link-hover-color, rgb(22, 22, 22))}.bpk-link--implicit-K0Gkq:active{text-decoration:none;color:var(--bpk-link-active-color, rgb(22, 22, 22))}.bpk-link--alternate-WtBlA{color:var(--bpk-link-alternate-color, rgb(255, 255, 255))}.bpk-no-touch-support-GXrEY .bpk-link--alternate-WtBlA:hover:not(:active):not(:disabled){color:var(--bpk-link-alternate-hover-color, rgb(255, 255, 255))}.bpk-no-touch-support .bpk-link--alternate-WtBlA:hover:not(:active):not(:disabled){color:var(--bpk-link-alternate-hover-color, rgb(255, 255, 255))}.bpk-link--alternate-WtBlA:visited{color:var(--bpk-link-alternate-visited-color, rgb(255, 255, 255))}.bpk-link--alternate-WtBlA:active{color:var(--bpk-link-alternate-active-color, rgb(255, 255, 255))}.bpk-link-underlined-JlhN3{padding-bottom:.0625rem;transition:background-size 200ms ease;background:linear-gradient(rgb(22, 22, 22), rgb(22, 22, 22));background-repeat:no-repeat;background-position:0 100%;background-size:100% 1px}.bpk-no-touch-support-GXrEY .bpk-link-underlined-JlhN3:hover:not(:active):not(:disabled){background-size:0 1px}.bpk-no-touch-support .bpk-link-underlined-JlhN3:hover:not(:active):not(:disabled){background-size:0 1px}.bpk-link-underlined--implicit-Nzoti{background-size:0 1px}.bpk-no-touch-support-GXrEY .bpk-link-underlined--implicit-Nzoti:hover:not(:active):not(:disabled){background-size:100% 1px}.bpk-no-touch-support .bpk-link-underlined--implicit-Nzoti:hover:not(:active):not(:disabled){background-size:100% 1px}.bpk-link-underlined--alternate-eCfWe{background:linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255));background-repeat:no-repeat;background-position:0 100%;background-size:100% 1px}.bpk-no-touch-support-GXrEY .bpk-link-underlined--alternate-eCfWe:hover:not(:active):not(:disabled){background-size:0 1px}.bpk-no-touch-support .bpk-link-underlined--alternate-eCfWe:hover:not(:active):not(:disabled){background-size:0 1px}.bpk-link-underlined-implicit--alternate-PZmoX{background:linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255));background-repeat:no-repeat;background-position:0 100%;background-size:0 1px}.bpk-no-touch-support-GXrEY .bpk-link-underlined-implicit--alternate-PZmoX:hover:not(:active):not(:disabled){background-size:100% 1px}.bpk-no-touch-support .bpk-link-underlined-implicit--alternate-PZmoX:hover:not(:active):not(:disabled){background-size:100% 1px}
/*! normalize.css v4.1.1 | MIT License | github.com/necolas/normalize.css */html{font-family:sans-serif;line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block}audio:not([controls]){display:none;height:0}progress{vertical-align:baseline}template,[hidden]{display:none}a{background-color:rgba(0,0,0,0);-webkit-text-decoration-skip:objects}a:active,a:hover{outline-width:0}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}dfn{font-style:italic}h1{font-size:2em;margin:.67em 0}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-0.25em}sup{top:-0.5em}img{border-style:none}svg:not(:root){overflow:hidden}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}button,input,optgroup,select,textarea{font:inherit;margin:0}optgroup{font-weight:bold}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-input-placeholder{color:inherit;opacity:.54}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}html{font-size:100%;box-sizing:border-box}*{box-sizing:inherit}*::before,*::after{box-sizing:inherit}body{color:#161616;font-family:var(--bpk-base-font-stack, "Skyscanner Relative", -apple-system, BlinkMacSystemFont, "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif);font-size:1rem;line-height:1.3rem}body.scaffold-font-size{font-size:13px}body.enable-font-smoothing{-webkit-font-smoothing:antialiased}:focus-visible,button:focus-visible,[type=button]:focus-visible,[type=reset]:focus-visible,[type=submit]:focus-visible{outline:.125rem solid #0062e3;outline-offset:.125rem}.hidden,.hide{display:none !important}.visuallyhidden,.visually-hidden{position:absolute;width:1px;height:1px;margin:-1px;padding:0;border:0;white-space:nowrap;overflow:hidden;clip:rect(0 0 0 0)}.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus,.visually-hidden.focusable:active,.visually-hidden.focusable:focus{position:static;width:auto;height:auto;margin:0;overflow:visible;clip:auto}.invisible{visibility:hidden}.clearfix::before,.clearfix::after{content:"";display:table}.clearfix::after{clear:both}
/**
 * Backpack - Skyscanner's Design System
 * 
 * Copyright 2016 Skyscanner Ltd
 * 
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 * 
 *   http://www.apache.org/licenses/LICENSE-2.0
 * 
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 * 
 * Do not edit directly, this file was auto-generated.
 */

:root {
  --bpk-border-1: 0.0625rem;
  --bpk-border-2: 0.125rem;
  --bpk-border-3: 0.1875rem;
  --bpk-modal-200: 12.5rem;
  --bpk-modal-400: 25rem;
  --bpk-modal-512: 32rem;
  --bpk-modal-600: 37.5rem;
  --bpk-modal-800: 50rem;
  --bpk-modal-1000: 62.5rem;
  --bpk-modal-1024: 64rem;
  --bpk-radius-none: 0;
  --bpk-radius-full: 62.4375rem;
  --bpk-radius-lg: 1.5rem;
  --bpk-radius-md: 0.75rem;
  --bpk-radius-nav-tabs: 1.125rem;
  --bpk-radius-sm: 0.5rem;
  --bpk-radius-xs: 0.25rem;
  --bpk-spacing-base: 1rem;
  --bpk-spacing-lg: 1.5rem;
  --bpk-spacing-md: 0.5rem;
  --bpk-spacing-none: 0;
  --bpk-spacing-sm: 0.25rem;
  --bpk-spacing-xl: 2rem;
  --bpk-spacing-xs: 0.125rem;
  --bpk-spacing-xxl: 2.5rem;
  --bpk-spacing-xxs: 0.0625rem;
  --bpk-spacing-xxxl: 4rem;
  --bpk-spacing-xxxxl: 6rem;
}

/**
 * Backpack - Skyscanner's Design System
 * 
 * Copyright 2016 Skyscanner Ltd
 * 
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 * 
 *   http://www.apache.org/licenses/LICENSE-2.0
 * 
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 * 
 * Do not edit directly, this file was auto-generated.
 */

:root {
  --bpk-canvas-contrast: #eff3f8;
  --bpk-canvas-default: #ffffff;
  --bpk-private-autosuggest-colour-bg-default: #ffffff;
  --bpk-private-autosuggest-colour-bg-hover: #f5f7fa;
  --bpk-private-autosuggest-colour-border-default: #c1c7cf;
  --bpk-private-autosuggest-colour-text-close: #161616;
  --bpk-private-badge-colour-bg-default: #eff3f8;
  --bpk-private-badge-colour-bg-inverse: #ffffff;
  --bpk-private-badge-colour-bg-outline: rgba(255, 255, 255, 0);
  --bpk-private-badge-colour-bg-subtle: #eff3f8;
  --bpk-private-badge-colour-stroke-outline: #ffffff;
  --bpk-private-badge-dimension-padding-horizontal-default: 0.5rem;
  --bpk-private-badge-dimension-padding-horizontal-subtle: 0.5rem;
  --bpk-private-badge-typography-tmp-badge-label: 0.875rem;
  --bpk-private-button-colour-bg-destructive: #e0e4e9;
  --bpk-private-button-colour-bg-destructive-pressed: #e70866;
  --bpk-private-button-colour-bg-disabled: #e0e4e9;
  --bpk-private-button-colour-bg-feature-pressed: #024daf;
  --bpk-private-button-colour-bg-featured: #0062e3;
  --bpk-private-button-colour-bg-footer: rgba(255, 255, 255, 0);
  --bpk-private-button-colour-bg-footer-pressed: rgba(255, 255, 255, 0);
  --bpk-private-button-colour-bg-primary: #05203c;
  --bpk-private-button-colour-bg-primary-on-dark: #ffffff;
  --bpk-private-button-colour-bg-primary-on-dark-pressed: #c1c7cf;
  --bpk-private-button-colour-bg-primary-on-light: #ffffff;
  --bpk-private-button-colour-bg-primary-on-light-pressed: #154679;
  --bpk-private-button-colour-bg-secondary: #e0e4e9;
  --bpk-private-button-colour-bg-secondary-pressed: #c1c7cf;
  --bpk-private-button-colour-bg-secondary-on-contrast: #e0e4e9;
  --bpk-private-button-colour-bg-secondary-on-contrast-pressed: #c1c7cf;
  --bpk-private-button-colour-bg-secondary-on-dark: rgba(255, 255, 255, 0.1);
  --bpk-private-button-colour-bg-secondary-on-dark-disabled: #0b121d;
  --bpk-private-button-colour-bg-secondary-on-dark-pressed: #04182d;
  --bpk-private-button-colour-text-disruptive: #e70866;
  --bpk-private-button-colour-text-feature: #ffffff;
  --bpk-private-button-colour-text-footer: rgba(255, 255, 255, 0);
  --bpk-private-button-colour-text-link-on-dark: #ffffff;
  --bpk-private-button-colour-text-secondary: #161616;
  --bpk-private-button-dimension-radius: 0.5rem;
  --bpk-private-button-dimension-min-height-default: 2.25rem;
  --bpk-private-button-dimension-min-height-large: 3rem;
  --bpk-private-button-dimension-min-weight-large: 3rem;
  --bpk-private-button-dimension-padding-horizontal-default: 1rem;
  --bpk-private-button-dimension-padding-horizontal-large: 1rem;
  --bpk-private-button-typography-tmp-default-label: 1rem;
  --bpk-private-card-button-contained-fill: rgba(255, 255, 255, 0.8);
  --bpk-private-card-button-max-height: 2.5rem;
  --bpk-private-carousel-trigger-bg-default: rgba(255, 255, 255, 0.5);
  --bpk-private-carousel-trigger-bg-default-hover: rgba(255, 255, 255, 0.8);
  --bpk-private-checkbox-bg-default-checked: #0062e3;
  --bpk-private-checkbox-bg-default-intermediate: #0062e3;
  --bpk-private-checkbox-bg-on-contrast-checked: #0062e3;
  --bpk-private-checkbox-bg-on-contrast-intermediate: #0062e3;
  --bpk-private-checkbox-border-default-disabled: #e0e4e9;
  --bpk-private-checkbox-border-default-not-checked: #626971;
  --bpk-private-checkbox-border-on-contrast-disabled: rgba(255, 255, 255, 0.2);
  --bpk-private-checkbox-border-on-contrast-not-checked: rgba(255, 255, 255, 0.5);
  --bpk-private-checkbox-icon-on-contrast: #ffffff;
  --bpk-private-checkbox-stroke: 0.1875rem;
  --bpk-private-chip-group-filter-colour-bg-icon-hover-on-image: #eff3f8;
  --bpk-private-chip-group-filter-colour-bg-icon-off-on-image: #ffffff;
  --bpk-private-chip-group-filter-colour-bg-icon-on-default: #05203c;
  --bpk-private-chip-group-filter-colour-bg-icon-on-on-dark: #ffffff;
  --bpk-private-chip-group-filter-colour-bg-icon-on-on-image: #05203c;
  --bpk-private-chip-group-filter-colour-stroke-icon-hover-default: #05203c;
  --bpk-private-chip-group-filter-colour-stroke-icon-hover-on-dark: #ffffff;
  --bpk-private-chip-group-filter-colour-stroke-icon-off-default: #c1c7cf;
  --bpk-private-chip-group-filter-colour-stroke-icon-off-on-dark: rgba(255, 255, 255, 0.2);
  --bpk-private-chip-group-filter-dimensions-min-height: 2.25rem;
  --bpk-private-chip-colour-bg-default-dismissible-hover: #05203c;
  --bpk-private-chip-colour-bg-default-hover: rgba(255, 255, 255, 0);
  --bpk-private-chip-colour-bg-default-off: rgba(255, 255, 255, 0);
  --bpk-private-chip-colour-bg-default-on: #05203c;
  --bpk-private-chip-colour-bg-disabled: #e0e4e9;
  --bpk-private-chip-colour-bg-on-contrast-hover: #ffffff;
  --bpk-private-chip-colour-bg-on-contrast-on: #05203c;
  --bpk-private-chip-colour-bg-on-dark-dismissible-hover: #ffffff;
  --bpk-private-chip-colour-bg-on-dark-hover: #ffffff;
  --bpk-private-chip-colour-bg-on-dark-off: rgba(255, 255, 255, 0);
  --bpk-private-chip-colour-bg-on-dark-on: #ffffff;
  --bpk-private-chip-colour-bg-on-image-dismissible-hover: #05203c;
  --bpk-private-chip-colour-bg-on-image-on: #eff3f8;
  --bpk-private-chip-colour-border-default-dismissible-hover: rgba(255, 255, 255, 0);
  --bpk-private-chip-colour-border-default-hover: #05203c;
  --bpk-private-chip-colour-border-default-off: #c1c7cf;
  --bpk-private-chip-colour-border-on-contrast-off: #ffffff;
  --bpk-private-chip-colour-border-on-contrast-on: #05203c;
  --bpk-private-chip-colour-border-on-dark-dismissible-hover: #ffffff;
  --bpk-private-chip-colour-border-on-dark-hover: #ffffff;
  --bpk-private-chip-colour-border-on-dark-off: rgba(255, 255, 255, 0.2);
  --bpk-private-chip-colour-stroke-off-on-canvas-contrast-new: rgba(255, 255, 255, 0);
  --bpk-private-chip-colour-text-default-dismissible-hover: #ffffff;
  --bpk-private-chip-colour-text-dismissible-on-icon: rgba(255, 255, 255, 0.5);
  --bpk-private-chip-colour-text-on: #ffffff;
  --bpk-private-chip-colour-text-on-image: #ffffff;
  --bpk-private-chip-colour-text-on-image-dismissible-icon: #626971;
  --bpk-private-chip-colour-text-on-dark: #161616;
  --bpk-private-chip-colour-text-on-dark-dismissible-hover: #161616;
  --bpk-private-chip-colour-text-on-dark-dismissible-icon: #626971;
  --bpk-private-chip-dimension-border: 0.0625rem;
  --bpk-private-chip-dimension-min-height-width: 2rem;
  --bpk-private-chip-dimension-radius: 0.5rem;
  --bpk-private-date-selector-cheapest-month-highlight: #154679;
  --bpk-private-date-selector-flexible-date-card: #eff3f8;
  --bpk-private-info-banner-default: #eff3f8;
  --bpk-private-info-banner-on-contrast: #ffffff;
  --bpk-private-map-cluster-pin: #05203c;
  --bpk-private-map-cluster-pin-previous-selection: #94c3ff;
  --bpk-private-map-marker-viewed: rgba(255, 255, 255, 0.8);
  --bpk-private-map-poi-pin: #8e47ba;
  --bpk-private-map-previous-selection: #cfe4ff;
  --bpk-private-navigation-tabs-hover: #154679;
  --bpk-private-navigation-tabs-outline: rgba(255, 255, 255, 0.2);
  --bpk-private-navigation-tabs-selected: #0062e3;
  --bpk-private-radio-bg-default-disabled: #c1c7cf;
  --bpk-private-radio-bg-default-on: #0062e3;
  --bpk-private-radio-bg-on-contrast-off: #ffffff;
  --bpk-private-radio-bg-on-contrast-on: #ffffff;
  --bpk-private-radio-border: 0.1875rem;
  --bpk-private-radio-border-default-off: #626971;
  --bpk-private-rating-bar-default: #e0e4e9;
  --bpk-private-rating-bar-on-contrast: #ffffff;
  --bpk-private-segmented-control-colour-bg-on-canvas-default-default: #eff3f8;
  --bpk-private-segmented-control-colour-bg-on-surface-contrast-default: rgba(255, 255, 255, 0.1);
  --bpk-private-segmented-control-colour-bg-on-surface-contrast-selected: #024daf;
  --bpk-private-segmented-control-colour-bg-selected: #05203c;
  --bpk-private-segmented-control-colour-divider-default: #e0e4e9;
  --bpk-private-segmented-control-colour-divider-on-surface-contrast: rgba(255, 255, 255, 0.2);
  --bpk-private-segmented-control-dimension-bg-indicator-radius: 0;
  --bpk-private-segmented-control-dimension-bg-track-radius: 0.5rem;
  --bpk-private-segmented-control-dimension-min-height: 2rem;
  --bpk-private-segmented-control-dimension-track-padding: 0;
  --bpk-private-shadow-large-blur: 0.875rem;
  --bpk-private-shadow-large-color: rgba(22, 22, 22, 0.25);
  --bpk-private-shadow-large-position-x: 0;
  --bpk-private-shadow-large-position-y: 0.25rem;
  --bpk-private-shadow-large-spread: 0;
  --bpk-private-shadow-small-blur: 0.1875rem;
  --bpk-private-shadow-small-color: rgba(22, 22, 22, 0.25);
  --bpk-private-shadow-small-position-x: 0;
  --bpk-private-shadow-small-position-y: 0.0625rem;
  --bpk-private-shadow-small-spread: 0;
  --bpk-private-shadow-xl-blur: 3.125rem;
  --bpk-private-shadow-xl-color: rgba(22, 22, 22, 0.25);
  --bpk-private-shadow-xl-position-x: 0;
  --bpk-private-shadow-xl-position-y: 0.75rem;
  --bpk-private-shadow-xl-spread: 0;
  --bpk-private-skeleton-on-dark: rgba(255, 255, 255, 0.1);
  --bpk-private-slider-bg-knob: #0062e3;
  --bpk-private-slider-bg-track: #0062e3;
  --bpk-private-speech-bubble-colour-bg-contrast: #eff3f8;
  --bpk-private-speech-bubble-colour-bg-default: #ffffff;
  --bpk-private-trip-advisor: #00aa6c;
  --bpk-core-accent: #0062e3;
  --bpk-core-eco: #0fa1a9;
  --bpk-core-primary: #05203c;
  --bpk-other-overlay: rgba(0, 0, 0, 0.2);
  --bpk-other-scrim: rgba(0, 0, 0, 0.7);
  --bpk-other-shadow: rgba(22, 22, 22, 0.25);
  --bpk-other-line-default: #c1c7cf;
  --bpk-other-line-on-contrast: rgba(255, 255, 255, 0.2);
  --bpk-status-danger-spot: #e70866;
  --bpk-status-success-spot: #0c838a;
  --bpk-status-warning-spot: #f55d42;
  --bpk-surface-contrast: #05203c;
  --bpk-surface-danger-fill: #ffe9f9;
  --bpk-surface-default: #ffffff;
  --bpk-surface-elevated: #ffffff;
  --bpk-surface-hero: #0062e3;
  --bpk-surface-highlight: #e0e4e9;
  --bpk-surface-low-contrast: #f5f7fa;
  --bpk-surface-subtle: #e3f0ff;
  --bpk-surface-success-fill: #d4fff2;
  --bpk-surface-tint: rgba(255, 255, 255, 0.1);
  --bpk-surface-warning-fill: #fff7cf;
  --bpk-surface-promo: #0062e3;
  --bpk-test: #ff1088;
  --bpk-text-disabled: rgba(0, 0, 0, 0.2);
  --bpk-text-disabled-on-dark: rgba(255, 255, 255, 0.5);
  --bpk-text-error: #e70866;
  --bpk-text-inverse: #ffffff;
  --bpk-text-on-dark: #ffffff;
  --bpk-text-on-light: #161616;
  --bpk-text-primary: #161616;
  --bpk-text-secondary: #626971;
  --bpk-text-secondary-on-contrast: rgba(255, 255, 255, 0.5);
  --bpk-text-success: #0c838a;
  --bpk-text-deprecated-link: #0062e3;
  --bpk-text-hero: #0062e3;
  --bpk-title: true;
  --bpk-typography-family-sans-serif: 'Skyscanner Relative';
  --bpk-typography-family-serif: Larken;
  --bpk-typography-kerning-default: 0;
  --bpk-typography-kerning-loose: 0;
  --bpk-typography-kerning-tight: 0;
  --bpk-typography-style-body: 400;
  --bpk-typography-style-headline: 700;
  --bpk-typography-style-hero: 900;
  --bpk-typography-style-label: 700;
  --bpk-typography-style-subhead: 300;
}

/**
 * Backpack - Skyscanner's Design System
 * 
 * Copyright 2016 Skyscanner Ltd
 * 
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 * 
 *   http://www.apache.org/licenses/LICENSE-2.0
 * 
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 * 
 * Do not edit directly, this file was auto-generated.
 */

:root[data-theme="dark"] {
  --bpk-canvas-contrast: #010913;
  --bpk-canvas-default: #010913;
  --bpk-private-autosuggest-colour-bg-default: #ffffff;
  --bpk-private-autosuggest-colour-bg-hover: #ffffff;
  --bpk-private-autosuggest-colour-border-default: #ffffff;
  --bpk-private-autosuggest-colour-text-close: #ffffff;
  --bpk-private-badge-colour-bg-default: #243346;
  --bpk-private-badge-colour-bg-inverse: #243346;
  --bpk-private-badge-colour-bg-outline: rgba(255, 255, 255, 0);
  --bpk-private-badge-colour-bg-subtle: #243346;
  --bpk-private-badge-colour-stroke-outline: #ffffff;
  --bpk-private-badge-dimension-padding-horizontal-default: 0.5rem;
  --bpk-private-badge-dimension-padding-horizontal-subtle: 0.5rem;
  --bpk-private-badge-typography-tmp-badge-label: 0.875rem;
  --bpk-private-button-colour-bg-destructive: #e0e4e9;
  --bpk-private-button-colour-bg-destructive-pressed: #ff649c;
  --bpk-private-button-colour-bg-disabled: #0b121d;
  --bpk-private-button-colour-bg-feature-pressed: #d1f7ff;
  --bpk-private-button-colour-bg-featured: #d1f7ff;
  --bpk-private-button-colour-bg-footer: rgba(255, 255, 255, 0);
  --bpk-private-button-colour-bg-footer-pressed: rgba(255, 255, 255, 0);
  --bpk-private-button-colour-bg-primary: #024daf;
  --bpk-private-button-colour-bg-primary-on-dark: #ffffff;
  --bpk-private-button-colour-bg-primary-on-dark-pressed: #c1c7cf;
  --bpk-private-button-colour-bg-primary-on-light: #ffffff;
  --bpk-private-button-colour-bg-primary-on-light-pressed: #002b4b;
  --bpk-private-button-colour-bg-secondary: #243346;
  --bpk-private-button-colour-bg-secondary-pressed: #010913;
  --bpk-private-button-colour-bg-secondary-on-contrast: #243346;
  --bpk-private-button-colour-bg-secondary-on-contrast-pressed: #010913;
  --bpk-private-button-colour-bg-secondary-on-dark: rgba(255, 255, 255, 0.1);
  --bpk-private-button-colour-bg-secondary-on-dark-disabled: #0b121d;
  --bpk-private-button-colour-bg-secondary-on-dark-pressed: rgba(255, 255, 255, 0.2);
  --bpk-private-button-colour-text-disruptive: #ff649c;
  --bpk-private-button-colour-text-feature: #010913;
  --bpk-private-button-colour-text-footer: rgba(255, 255, 255, 0);
  --bpk-private-button-colour-text-link-on-dark: #ffffff;
  --bpk-private-button-colour-text-secondary: #ffffff;
  --bpk-private-button-dimension-radius: 0.5rem;
  --bpk-private-button-dimension-min-height-default: 2.25rem;
  --bpk-private-button-dimension-min-height-large: 3rem;
  --bpk-private-button-dimension-min-weight-large: 3rem;
  --bpk-private-button-dimension-padding-horizontal-default: 1rem;
  --bpk-private-button-dimension-padding-horizontal-large: 1rem;
  --bpk-private-button-typography-tmp-default-label: 1rem;
  --bpk-private-card-button-contained-fill: rgba(255, 255, 255, 0.1);
  --bpk-private-card-button-max-height: 2.5rem;
  --bpk-private-carousel-trigger-bg-default: rgba(255, 255, 255, 0.5);
  --bpk-private-carousel-trigger-bg-default-hover: rgba(255, 255, 255, 0.8);
  --bpk-private-checkbox-bg-default-checked: #84e9ff;
  --bpk-private-checkbox-bg-default-intermediate: #84e9ff;
  --bpk-private-checkbox-bg-on-contrast-checked: #84e9ff;
  --bpk-private-checkbox-bg-on-contrast-intermediate: #84e9ff;
  --bpk-private-checkbox-border-default-disabled: rgba(255, 255, 255, 0.2);
  --bpk-private-checkbox-border-default-not-checked: rgba(255, 255, 255, 0.5);
  --bpk-private-checkbox-border-on-contrast-disabled: rgba(255, 255, 255, 0.2);
  --bpk-private-checkbox-border-on-contrast-not-checked: rgba(255, 255, 255, 0.5);
  --bpk-private-checkbox-icon-on-contrast: #161616;
  --bpk-private-checkbox-stroke: 0.1875rem;
  --bpk-private-chip-group-filter-colour-bg-icon-hover-on-image: #010913;
  --bpk-private-chip-group-filter-colour-bg-icon-off-on-image: #131d2b;
  --bpk-private-chip-group-filter-colour-bg-icon-on-default: #054184;
  --bpk-private-chip-group-filter-colour-bg-icon-on-on-dark: #131d2b;
  --bpk-private-chip-group-filter-colour-bg-icon-on-on-image: #054184;
  --bpk-private-chip-group-filter-colour-stroke-icon-hover-default: #054184;
  --bpk-private-chip-group-filter-colour-stroke-icon-hover-on-dark: #131d2b;
  --bpk-private-chip-group-filter-colour-stroke-icon-off-default: rgba(255, 255, 255, 0.2);
  --bpk-private-chip-group-filter-colour-stroke-icon-off-on-dark: rgba(255, 255, 255, 0.2);
  --bpk-private-chip-group-filter-dimensions-min-height: 2.25rem;
  --bpk-private-chip-colour-bg-default-dismissible-hover: #054184;
  --bpk-private-chip-colour-bg-default-hover: rgba(255, 255, 255, 0);
  --bpk-private-chip-colour-bg-default-off: rgba(255, 255, 255, 0);
  --bpk-private-chip-colour-bg-default-on: #054184;
  --bpk-private-chip-colour-bg-disabled: #0b121d;
  --bpk-private-chip-colour-bg-on-contrast-hover: #131d2b;
  --bpk-private-chip-colour-bg-on-contrast-on: #054184;
  --bpk-private-chip-colour-bg-on-dark-dismissible-hover: #131d2b;
  --bpk-private-chip-colour-bg-on-dark-hover: rgba(255, 255, 255, 0);
  --bpk-private-chip-colour-bg-on-dark-off: rgba(255, 255, 255, 0);
  --bpk-private-chip-colour-bg-on-dark-on: #131d2b;
  --bpk-private-chip-colour-bg-on-image-dismissible-hover: #054184;
  --bpk-private-chip-colour-bg-on-image-on: #010913;
  --bpk-private-chip-colour-border-default-dismissible-hover: rgba(255, 255, 255, 0);
  --bpk-private-chip-colour-border-default-hover: #054184;
  --bpk-private-chip-colour-border-default-off: rgba(255, 255, 255, 0.2);
  --bpk-private-chip-colour-border-on-contrast-off: #131d2b;
  --bpk-private-chip-colour-border-on-contrast-on: #131d2b;
  --bpk-private-chip-colour-border-on-dark-dismissible-hover: #131d2b;
  --bpk-private-chip-colour-border-on-dark-hover: #ffffff;
  --bpk-private-chip-colour-border-on-dark-off: rgba(255, 255, 255, 0.2);
  --bpk-private-chip-colour-stroke-off-on-canvas-contrast-new: rgba(255, 255, 255, 0);
  --bpk-private-chip-colour-text-default-dismissible-hover: #ffffff;
  --bpk-private-chip-colour-text-dismissible-on-icon: rgba(255, 255, 255, 0.5);
  --bpk-private-chip-colour-text-on: #ffffff;
  --bpk-private-chip-colour-text-on-image: #ffffff;
  --bpk-private-chip-colour-text-on-image-dismissible-icon: #bdc4cb;
  --bpk-private-chip-colour-text-on-dark: #ffffff;
  --bpk-private-chip-colour-text-on-dark-dismissible-hover: #ffffff;
  --bpk-private-chip-colour-text-on-dark-dismissible-icon: #bdc4cb;
  --bpk-private-chip-dimension-border: 0.0625rem;
  --bpk-private-chip-dimension-min-height-width: 2rem;
  --bpk-private-chip-dimension-radius: 0.5rem;
  --bpk-private-date-selector-cheapest-month-highlight: #ffffff;
  --bpk-private-date-selector-flexible-date-card: #243346;
  --bpk-private-info-banner-default: #131d2b;
  --bpk-private-info-banner-on-contrast: #131d2b;
  --bpk-private-map-cluster-pin: #ffffff;
  --bpk-private-map-cluster-pin-previous-selection: #94c3ff;
  --bpk-private-map-marker-viewed: rgba(0, 0, 0, 0.8);
  --bpk-private-map-poi-pin: #8e47ba;
  --bpk-private-map-previous-selection: #cfe4ff;
  --bpk-private-navigation-tabs-hover: #002b4b;
  --bpk-private-navigation-tabs-outline: rgba(255, 255, 255, 0.2);
  --bpk-private-navigation-tabs-selected: #054184;
  --bpk-private-radio-bg-default-disabled: rgba(255, 255, 255, 0.5);
  --bpk-private-radio-bg-default-on: #84e9ff;
  --bpk-private-radio-bg-on-contrast-off: rgba(255, 255, 255, 0);
  --bpk-private-radio-bg-on-contrast-on: #84e9ff;
  --bpk-private-radio-border: 0.1875rem;
  --bpk-private-radio-border-default-off: rgba(255, 255, 255, 0.5);
  --bpk-private-rating-bar-default: #243346;
  --bpk-private-rating-bar-on-contrast: #243346;
  --bpk-private-segmented-control-colour-bg-on-canvas-default-default: #131d2b;
  --bpk-private-segmented-control-colour-bg-on-surface-contrast-default: #131d2b;
  --bpk-private-segmented-control-colour-bg-on-surface-contrast-selected: #054184;
  --bpk-private-segmented-control-colour-bg-selected: #054184;
  --bpk-private-segmented-control-colour-divider-default: #e0e4e9;
  --bpk-private-segmented-control-colour-divider-on-surface-contrast: rgba(255, 255, 255, 0.2);
  --bpk-private-segmented-control-dimension-bg-indicator-radius: 0;
  --bpk-private-segmented-control-dimension-bg-track-radius: 0.5rem;
  --bpk-private-segmented-control-dimension-min-height: 2rem;
  --bpk-private-segmented-control-dimension-track-padding: 0;
  --bpk-private-shadow-large-blur: 0.875rem;
  --bpk-private-shadow-large-color: rgba(22, 22, 22, 0.25);
  --bpk-private-shadow-large-position-x: 0;
  --bpk-private-shadow-large-position-y: 0.25rem;
  --bpk-private-shadow-large-spread: 0;
  --bpk-private-shadow-small-blur: 0.1875rem;
  --bpk-private-shadow-small-color: rgba(22, 22, 22, 0.25);
  --bpk-private-shadow-small-position-x: 0;
  --bpk-private-shadow-small-position-y: 0.0625rem;
  --bpk-private-shadow-small-spread: 0;
  --bpk-private-shadow-xl-blur: 3.125rem;
  --bpk-private-shadow-xl-color: rgba(22, 22, 22, 0.25);
  --bpk-private-shadow-xl-position-x: 0;
  --bpk-private-shadow-xl-position-y: 0.75rem;
  --bpk-private-shadow-xl-spread: 0;
  --bpk-private-skeleton-on-dark: #243346;
  --bpk-private-slider-bg-knob: #84e9ff;
  --bpk-private-slider-bg-track: #84e9ff;
  --bpk-private-speech-bubble-colour-bg-contrast: #131d2b;
  --bpk-private-speech-bubble-colour-bg-default: #131d2b;
  --bpk-private-trip-advisor: #9ce6c0;
  --bpk-core-accent: #84e9ff;
  --bpk-core-eco: #0fa1a9;
  --bpk-core-primary: #054184;
  --bpk-other-overlay: rgba(255, 255, 255, 0.8);
  --bpk-other-scrim: rgba(0, 0, 0, 0.7);
  --bpk-other-shadow: rgba(22, 22, 22, 0.25);
  --bpk-other-line-default: rgba(255, 255, 255, 0.2);
  --bpk-other-line-on-contrast: rgba(255, 255, 255, 0.2);
  --bpk-status-danger-spot: #ff649c;
  --bpk-status-success-spot: #62f1c6;
  --bpk-status-warning-spot: #feeb87;
  --bpk-surface-contrast: #010913;
  --bpk-surface-danger-fill: #ffcadd;
  --bpk-surface-default: #131d2b;
  --bpk-surface-elevated: #243346;
  --bpk-surface-hero: #010913;
  --bpk-surface-highlight: #243346;
  --bpk-surface-low-contrast: #243346;
  --bpk-surface-subtle: #243346;
  --bpk-surface-success-fill: #b1ffe7;
  --bpk-surface-tint: rgba(255, 255, 255, 0.1);
  --bpk-surface-warning-fill: #fbf1bb;
  --bpk-surface-promo: #243346;
  --bpk-test: #ff0000;
  --bpk-text-disabled: rgba(255, 255, 255, 0.2);
  --bpk-text-disabled-on-dark: rgba(255, 255, 255, 0.5);
  --bpk-text-error: #ff649c;
  --bpk-text-inverse: #010913;
  --bpk-text-on-dark: #ffffff;
  --bpk-text-on-light: #010913;
  --bpk-text-primary: #ffffff;
  --bpk-text-secondary: #bdc4cb;
  --bpk-text-secondary-on-contrast: rgba(255, 255, 255, 0.5);
  --bpk-text-success: #62f1c6;
  --bpk-text-deprecated-link: #84e9ff;
  --bpk-text-hero: #010913;
  --bpk-title: true;
  --bpk-typography-family-sans-serif: 'Skyscanner Relative';
  --bpk-typography-family-serif: Larken;
  --bpk-typography-kerning-default: 0;
  --bpk-typography-kerning-loose: 0;
  --bpk-typography-kerning-tight: 0;
  --bpk-typography-style-body: 400;
  --bpk-typography-style-headline: 700;
  --bpk-typography-style-hero: 900;
  --bpk-typography-style-label: 700;
  --bpk-typography-style-subhead: 300;
}

@font-face{font-family:"Skyscanner Relative";font-style:normal;font-weight:400;src:url('https://js.skyscnr.com/sttc/bpk-fonts/SkyscannerRelative-Book-f9356ad6.woff2') format('woff2'), url('https://js.skyscnr.com/sttc/bpk-fonts/SkyscannerRelative-Book-46f9f429.woff') format('woff'), url('https://js.skyscnr.com/sttc/bpk-fonts/SkyscannerRelative-Book-ab1dbcbe.ttf') format('ttf')}@font-face{font-family:"Skyscanner Relative";font-style:italic;font-weight:400;src:url('https://js.skyscnr.com/sttc/bpk-fonts/SkyscannerRelative-Italic-10532ac3.woff2') format('woff2'), url('https://js.skyscnr.com/sttc/bpk-fonts/SkyscannerRelative-Italic-db5d0ac5.woff') format('woff'), url('https://js.skyscnr.com/sttc/bpk-fonts/SkyscannerRelative-Italic-8eec3f3a.ttf') format('ttf')}@font-face{font-family:"Skyscanner Relative";font-style:normal;font-weight:500;src:url('https://js.skyscnr.com/sttc/bpk-fonts/SkyscannerRelative-Medium-c08dc28b.woff2') format('woff2'), url('https://js.skyscnr.com/sttc/bpk-fonts/SkyscannerRelative-Medium-865e167a.woff') format('woff'), url('https://js.skyscnr.com/sttc/bpk-fonts/SkyscannerRelative-Medium-d0ae478a.ttf') format('ttf')}@font-face{font-family:"Skyscanner Relative";font-style:italic;font-weight:500;src:url('https://js.skyscnr.com/sttc/bpk-fonts/SkyscannerRelative-MediumItalic-81517f37.woff2') format('woff2'), url('https://js.skyscnr.com/sttc/bpk-fonts/SkyscannerRelative-MediumItalic-bbdb6b0c.woff') format('woff'), url('https://js.skyscnr.com/sttc/bpk-fonts/SkyscannerRelative-MediumItalic-226fe64c.ttf') format('ttf')}@font-face{font-family:"Skyscanner Relative";font-style:normal;font-weight:700;src:url('https://js.skyscnr.com/sttc/bpk-fonts/SkyscannerRelative-Bold-8545937e.woff2') format('woff2'), url('https://js.skyscnr.com/sttc/bpk-fonts/SkyscannerRelative-Bold-a099c9f7.woff') format('woff'), url('https://js.skyscnr.com/sttc/bpk-fonts/SkyscannerRelative-Bold-ec4cc5a7.ttf') format('ttf')}@font-face{font-family:"Skyscanner Relative";font-style:italic;font-weight:700;src:url('https://js.skyscnr.com/sttc/bpk-fonts/SkyscannerRelative-BoldItalic-01b5d138.woff2') format('woff2'), url('https://js.skyscnr.com/sttc/bpk-fonts/SkyscannerRelative-BoldItalic-4d6d36e3.woff') format('woff'), url('https://js.skyscnr.com/sttc/bpk-fonts/SkyscannerRelative-BoldItalic-dc9284dc.ttf') format('ttf')}@font-face{font-family:"Skyscanner Relative";font-style:normal;font-weight:900;src:url('https://js.skyscnr.com/sttc/bpk-fonts/SkyscannerRelative-Black-bb3c9434.woff2') format('woff2'), url('https://js.skyscnr.com/sttc/bpk-fonts/SkyscannerRelative-Black-bba2eb55.woff') format('woff'), url('https://js.skyscnr.com/sttc/bpk-fonts/SkyscannerRelative-Black-314703cc.ttf') format('ttf')}@font-face{font-family:"Skyscanner Relative";font-style:italic;font-weight:900;src:url('https://js.skyscnr.com/sttc/bpk-fonts/SkyscannerRelative-BlackItalic-c2149c91.woff2') format('woff2'), url('https://js.skyscnr.com/sttc/bpk-fonts/SkyscannerRelative-BlackItalic-a34cd594.woff') format('woff'), url('https://js.skyscnr.com/sttc/bpk-fonts/SkyscannerRelative-BlackItalic-7e516ee5.ttf') format('ttf')}@font-face{font-family:"Noto Sans JP";font-style:normal;font-weight:900;src:url('https://js.skyscnr.com/sttc/bpk-fonts/NotoSansJP-ExtraBold-d4e678e6.woff2') format('woff2'), url('https://js.skyscnr.com/sttc/bpk-fonts/NotoSansJP-ExtraBold-071fa89b.woff') format('woff'), url('https://js.skyscnr.com/sttc/bpk-fonts/NotoSansJP-ExtraBold-71fc7f76.ttf') format('ttf')}@font-face{font-family:"Noto Sans JP";font-style:normal;font-weight:700;src:url('https://js.skyscnr.com/sttc/bpk-fonts/NotoSansJP-Bold-b656150c.woff2') format('woff2'), url('https://js.skyscnr.com/sttc/bpk-fonts/NotoSansJP-Bold-6ddf472f.woff') format('woff'), url('https://js.skyscnr.com/sttc/bpk-fonts/NotoSansJP-Bold-deeb2988.ttf') format('ttf')}@font-face{font-family:"Noto Sans JP";font-style:normal;font-weight:400;src:url('https://js.skyscnr.com/sttc/bpk-fonts/NotoSansJP-Regular-6ab10d56.woff2') format('woff2'), url('https://js.skyscnr.com/sttc/bpk-fonts/NotoSansJP-Regular-70c49e9e.woff') format('woff'), url('https://js.skyscnr.com/sttc/bpk-fonts/NotoSansJP-Regular-68d5dc69.ttf') format('ttf')}@font-face{font-family:"Noto Sans KR";font-style:normal;font-weight:900;src:url('https://js.skyscnr.com/sttc/bpk-fonts/NotoSansKR-ExtraBold-1dfe3b92.woff2') format('woff2'), url('https://js.skyscnr.com/sttc/bpk-fonts/NotoSansKR-ExtraBold-6c571306.woff') format('woff'), url('https://js.skyscnr.com/sttc/bpk-fonts/NotoSansKR-ExtraBold-f350038a.ttf') format('ttf')}@font-face{font-family:"Noto Sans KR";font-style:normal;font-weight:700;src:url('https://js.skyscnr.com/sttc/bpk-fonts/NotoSansKR-Bold-5286cc6d.woff2') format('woff2'), url('https://js.skyscnr.com/sttc/bpk-fonts/NotoSansKR-Bold-74c4cbc7.woff') format('woff'), url('https://js.skyscnr.com/sttc/bpk-fonts/NotoSansKR-Bold-5651f33d.ttf') format('ttf')}@font-face{font-family:"Noto Sans KR";font-style:normal;font-weight:400;src:url('https://js.skyscnr.com/sttc/bpk-fonts/NotoSansKR-Regular-b6a2ff73.woff2') format('woff2'), url('https://js.skyscnr.com/sttc/bpk-fonts/NotoSansKR-Regular-96147637.woff') format('woff'), url('https://js.skyscnr.com/sttc/bpk-fonts/NotoSansKR-Regular-a2cd60b3.ttf') format('ttf')}@font-face{font-family:"Noto Sans SC";font-style:normal;font-weight:900;src:url('https://js.skyscnr.com/sttc/bpk-fonts/NotoSansSC-Bold-22c3e4e0.woff2') format('woff2'), url('https://js.skyscnr.com/sttc/bpk-fonts/NotoSansSC-Bold-87ef5110.woff') format('woff'), url('https://js.skyscnr.com/sttc/bpk-fonts/NotoSansSC-Bold-57f04989.ttf') format('ttf')}@font-face{font-family:"Noto Sans SC";font-style:normal;font-weight:700;src:url('https://js.skyscnr.com/sttc/bpk-fonts/NotoSansSC-Bold-22c3e4e0.woff2') format('woff2'), url('https://js.skyscnr.com/sttc/bpk-fonts/NotoSansSC-Bold-87ef5110.woff') format('woff'), url('https://js.skyscnr.com/sttc/bpk-fonts/NotoSansSC-Bold-57f04989.ttf') format('ttf')}@font-face{font-family:"Noto Sans SC";font-style:normal;font-weight:400;src:url('https://js.skyscnr.com/sttc/bpk-fonts/NotoSansSC-Regular-97e50cfd.woff2') format('woff2'), url('https://js.skyscnr.com/sttc/bpk-fonts/NotoSansSC-Regular-cba63765.woff') format('woff'), url('https://js.skyscnr.com/sttc/bpk-fonts/NotoSansSC-Regular-f793115b.ttf') format('ttf')}@font-face{font-family:"Noto Sans TC";font-style:normal;font-weight:900;src:url('https://js.skyscnr.com/sttc/bpk-fonts/NotoSansTC-Bold-355d38e9.woff2') format('woff2'), url('https://js.skyscnr.com/sttc/bpk-fonts/NotoSansTC-Bold-2abc3583.woff') format('woff'), url('https://js.skyscnr.com/sttc/bpk-fonts/NotoSansTC-Bold-86244830.ttf') format('ttf')}@font-face{font-family:"Noto Sans TC";font-style:normal;font-weight:700;src:url('https://js.skyscnr.com/sttc/bpk-fonts/NotoSansTC-Bold-355d38e9.woff2') format('woff2'), url('https://js.skyscnr.com/sttc/bpk-fonts/NotoSansTC-Bold-2abc3583.woff') format('woff'), url('https://js.skyscnr.com/sttc/bpk-fonts/NotoSansTC-Bold-86244830.ttf') format('ttf')}@font-face{font-family:"Noto Sans TC";font-style:normal;font-weight:400;src:url('https://js.skyscnr.com/sttc/bpk-fonts/NotoSansTC-Regular-5d6d6915.woff2') format('woff2'), url('https://js.skyscnr.com/sttc/bpk-fonts/NotoSansTC-Regular-c4185417.woff') format('woff'), url('https://js.skyscnr.com/sttc/bpk-fonts/NotoSansTC-Regular-d4301ce6.ttf') format('ttf')}@font-face{font-family:"Noto Sans Thai";font-style:normal;font-weight:900;src:url('https://js.skyscnr.com/sttc/bpk-fonts/NotoSansThai-Bold-74e247cc.woff2') format('woff2'), url('https://js.skyscnr.com/sttc/bpk-fonts/NotoSansThai-Bold-91433b5b.woff') format('woff'), url('https://js.skyscnr.com/sttc/bpk-fonts/NotoSansThai-Bold-778d694c.ttf') format('ttf')}@font-face{font-family:"Noto Sans Thai";font-style:normal;font-weight:700;src:url('https://js.skyscnr.com/sttc/bpk-fonts/NotoSansThai-Bold-74e247cc.woff2') format('woff2'), url('https://js.skyscnr.com/sttc/bpk-fonts/NotoSansThai-Bold-91433b5b.woff') format('woff'), url('https://js.skyscnr.com/sttc/bpk-fonts/NotoSansThai-Bold-778d694c.ttf') format('ttf')}@font-face{font-family:"Noto Sans Thai";font-style:normal;font-weight:400;src:url('https://js.skyscnr.com/sttc/bpk-fonts/NotoSansThai-Regular-49d26bc7.woff2') format('woff2'), url('https://js.skyscnr.com/sttc/bpk-fonts/NotoSansThai-Regular-bc78fb35.woff') format('woff'), url('https://js.skyscnr.com/sttc/bpk-fonts/NotoSansThai-Regular-84e59eed.ttf') format('ttf')}@font-face{font-family:"Noto Sans Devanagari";font-style:normal;font-weight:900;src:url('https://js.skyscnr.com/sttc/bpk-fonts/NotoSansDevanagari-ExtraBold-ff675d8c.woff2') format('woff2'), url('https://js.skyscnr.com/sttc/bpk-fonts/NotoSansDevanagari-ExtraBold-2b68fdf3.woff') format('woff'), url('https://js.skyscnr.com/sttc/bpk-fonts/NotoSansDevanagari-ExtraBold-ad7aee12.ttf') format('ttf')}@font-face{font-family:"Noto Sans Devanagari";font-style:normal;font-weight:700;src:url('https://js.skyscnr.com/sttc/bpk-fonts/NotoSansDevanagari-Bold-19924491.woff2') format('woff2'), url('https://js.skyscnr.com/sttc/bpk-fonts/NotoSansDevanagari-Bold-2598dc51.woff') format('woff'), url('https://js.skyscnr.com/sttc/bpk-fonts/NotoSansDevanagari-Bold-bca34adc.ttf') format('ttf')}@font-face{font-family:"Noto Sans Devanagari";font-style:normal;font-weight:400;src:url('https://js.skyscnr.com/sttc/bpk-fonts/NotoSansDevanagari-Regular-2ddbe014.woff2') format('woff2'), url('https://js.skyscnr.com/sttc/bpk-fonts/NotoSansDevanagari-Regular-b7e8aefe.woff') format('woff'), url('https://js.skyscnr.com/sttc/bpk-fonts/NotoSansDevanagari-Regular-e0474da6.ttf') format('ttf')}@font-face{font-family:"Noto Sans";font-style:normal;font-weight:900;src:url('https://js.skyscnr.com/sttc/bpk-fonts/NotoSans-ExtraBold-d8d5cc89.woff2') format('woff2'), url('https://js.skyscnr.com/sttc/bpk-fonts/NotoSans-ExtraBold-177dbfc0.woff') format('woff'), url('https://js.skyscnr.com/sttc/bpk-fonts/NotoSans-ExtraBold-cac84afc.ttf') format('ttf')}@font-face{font-family:"Noto Sans";font-style:italic;font-weight:900;src:url('https://js.skyscnr.com/sttc/bpk-fonts/NotoSans-ExtraBoldItalic-cf3e028d.woff2') format('woff2'), url('https://js.skyscnr.com/sttc/bpk-fonts/NotoSans-ExtraBoldItalic-be131c58.woff') format('woff'), url('https://js.skyscnr.com/sttc/bpk-fonts/NotoSans-ExtraBoldItalic-c435f928.ttf') format('ttf')}@font-face{font-family:"Noto Sans";font-style:normal;font-weight:700;src:url('https://js.skyscnr.com/sttc/bpk-fonts/NotoSans-Bold-0b4b7c45.woff2') format('woff2'), url('https://js.skyscnr.com/sttc/bpk-fonts/NotoSans-Bold-68b2bc2e.woff') format('woff'), url('https://js.skyscnr.com/sttc/bpk-fonts/NotoSans-Bold-bc7f5e39.ttf') format('ttf')}@font-face{font-family:"Noto Sans";font-style:italic;font-weight:700;src:url('https://js.skyscnr.com/sttc/bpk-fonts/NotoSans-BoldItalic-61b665f1.woff2') format('woff2'), url('https://js.skyscnr.com/sttc/bpk-fonts/NotoSans-BoldItalic-eff19cbf.woff') format('woff'), url('https://js.skyscnr.com/sttc/bpk-fonts/NotoSans-BoldItalic-695e28bf.ttf') format('ttf')}@font-face{font-family:"Noto Sans";font-style:normal;font-weight:400;src:url('https://js.skyscnr.com/sttc/bpk-fonts/NotoSans-Regular-31a7a3e7.woff2') format('woff2'), url('https://js.skyscnr.com/sttc/bpk-fonts/NotoSans-Regular-aa4384e7.woff') format('woff'), url('https://js.skyscnr.com/sttc/bpk-fonts/NotoSans-Regular-f04a504e.ttf') format('ttf')}@font-face{font-family:"Noto Sans";font-style:italic;font-weight:400;src:url('https://js.skyscnr.com/sttc/bpk-fonts/NotoSans-Italic-136bdc6a.woff2') format('woff2'), url('https://js.skyscnr.com/sttc/bpk-fonts/NotoSans-Italic-7cd36c44.woff') format('woff'), url('https://js.skyscnr.com/sttc/bpk-fonts/NotoSans-Italic-716d03e4.ttf') format('ttf')}@font-face{font-family:"Noto Sans Arabic";font-style:normal;font-weight:900;src:url('https://js.skyscnr.com/sttc/bpk-fonts/NotoSansArabic-ExtraBold-da8cf050.woff2') format('woff2'), url('https://js.skyscnr.com/sttc/bpk-fonts/NotoSansArabic-ExtraBold-4ac084a2.woff') format('woff'), url('https://js.skyscnr.com/sttc/bpk-fonts/NotoSansArabic-ExtraBold-a965fbb5.ttf') format('ttf')}@font-face{font-family:"Noto Sans Arabic";font-style:normal;font-weight:700;src:url('https://js.skyscnr.com/sttc/bpk-fonts/NotoSansArabic-Bold-237618dd.woff2') format('woff2'), url('https://js.skyscnr.com/sttc/bpk-fonts/NotoSansArabic-Bold-9e0190d0.woff') format('woff'), url('https://js.skyscnr.com/sttc/bpk-fonts/NotoSansArabic-Bold-d93e430c.ttf') format('ttf')}@font-face{font-family:"Noto Sans Arabic";font-style:normal;font-weight:400;src:url('https://js.skyscnr.com/sttc/bpk-fonts/NotoSansArabic-Regular-15a84e58.woff2') format('woff2'), url('https://js.skyscnr.com/sttc/bpk-fonts/NotoSansArabic-Regular-a2985c7a.woff') format('woff'), url('https://js.skyscnr.com/sttc/bpk-fonts/NotoSansArabic-Regular-471fde3d.ttf') format('ttf')}@font-face{font-family:"Noto Sans Hebrew";font-style:normal;font-weight:900;src:url('https://js.skyscnr.com/sttc/bpk-fonts/NotoSansHebrew-ExtraBold-e04df8b4.woff2') format('woff2'), url('https://js.skyscnr.com/sttc/bpk-fonts/NotoSansHebrew-ExtraBold-3303fb69.woff') format('woff'), url('https://js.skyscnr.com/sttc/bpk-fonts/NotoSansHebrew-ExtraBold-4cfb24e3.ttf') format('ttf')}@font-face{font-family:"Noto Sans Hebrew";font-style:normal;font-weight:700;src:url('https://js.skyscnr.com/sttc/bpk-fonts/NotoSansHebrew-Bold-ad38ec01.woff2') format('woff2'), url('https://js.skyscnr.com/sttc/bpk-fonts/NotoSansHebrew-Bold-6ecb028a.woff') format('woff'), url('https://js.skyscnr.com/sttc/bpk-fonts/NotoSansHebrew-Bold-752057d4.ttf') format('ttf')}@font-face{font-family:"Noto Sans Hebrew";font-style:normal;font-weight:400;src:url('https://js.skyscnr.com/sttc/bpk-fonts/NotoSansHebrew-Regular-d42b5a85.woff2') format('woff2'), url('https://js.skyscnr.com/sttc/bpk-fonts/NotoSansHebrew-Regular-bdcbbd78.woff') format('woff'), url('https://js.skyscnr.com/sttc/bpk-fonts/NotoSansHebrew-Regular-41f881f3.ttf') format('ttf')}[lang=ja-JP],:lang(ja-JP){--bpk-base-font-stack: "Skyscanner Relative", "Noto Sans JP", "Noto Sans SC", "Noto Sans TC", "Noto Sans KR", "Noto Sans Arabic", "Noto Sans Hebrew", "Noto Sans", "Noto Sans Devanagari", "Noto Sans Thai", -apple-system, blinkmacsystemfont, roboto, oxygen, ubuntu, cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif}[lang=zh-TW],:lang(zh-TW),[lang=zh-HK],:lang(zh-HK){--bpk-base-font-stack: "Skyscanner Relative", "Noto Sans TC", "Noto Sans SC", "Noto Sans JP", "Noto Sans KR", "Noto Sans Arabic", "Noto Sans Hebrew", "Noto Sans", "Noto Sans Devanagari", "Noto Sans Thai", -apple-system, blinkmacsystemfont, roboto, oxygen, ubuntu, cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif}[lang=zh-CN],:lang(zh-CN){--bpk-base-font-stack: "Skyscanner Relative", "Noto Sans SC", "Noto Sans TC", "Noto Sans JP", "Noto Sans KR", "Noto Sans Arabic", "Noto Sans Hebrew", "Noto Sans", "Noto Sans Devanagari", "Noto Sans Thai", -apple-system, blinkmacsystemfont, roboto, oxygen, ubuntu, cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif}[lang=ko-KR],:lang(ko-KR){--bpk-base-font-stack: "Skyscanner Relative", "Noto Sans KR", "Noto Sans JP", "Noto Sans SC", "Noto Sans TC", "Noto Sans Arabic", "Noto Sans Hebrew", "Noto Sans", "Noto Sans Devanagari", "Noto Sans Thai", -apple-system, blinkmacsystemfont, roboto, oxygen, ubuntu, cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif}[lang=th-TH],:lang(th-TH){--bpk-base-font-stack: "Skyscanner Relative", "Noto Sans Thai", "Noto Sans Arabic", "Noto Sans Hebrew", "Noto Sans", "Noto Sans Devanagari", -apple-system, blinkmacsystemfont, roboto, oxygen, ubuntu, cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif}[lang=hi-IN],:lang(hi-IN){--bpk-base-font-stack: "Skyscanner Relative", "Noto Sans Devanagari", "Noto Sans Arabic", "Noto Sans Hebrew", "Noto Sans", "Noto Sans Thai", -apple-system, blinkmacsystemfont, roboto, oxygen, ubuntu, cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif}[lang=ar],:lang(ar){--bpk-base-font-stack: "Skyscanner Relative", "Noto Sans Arabic", "Noto Sans Hebrew", "Noto Sans", "Noto Sans Devanagari", "Noto Sans Thai", -apple-system, blinkmacsystemfont, roboto, oxygen, ubuntu, cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif}[lang=he],:lang(he){--bpk-base-font-stack: "Skyscanner Relative", "Noto Sans Hebrew", "Noto Sans Arabic", "Noto Sans", "Noto Sans Devanagari", "Noto Sans Thai", -apple-system, blinkmacsystemfont, roboto, oxygen, ubuntu, cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif}[lang=el-GR],:lang(el-GR),[lang=ru-RU],:lang(ru-RU),[lang=uk-UA],:lang(uk-UA),[lang=bg-BG],:lang(bg-BG),[lang=vi-VN],:lang(vi-VN){--bpk-base-font-stack: "Skyscanner Relative", "Noto Sans", "Noto Sans Arabic", "Noto Sans Hebrew", "Noto Sans Devanagari", "Noto Sans Thai", -apple-system, blinkmacsystemfont, roboto, oxygen, ubuntu, cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif}:where([lang]){font-family:var(--bpk-base-font-stack)}
@font-face{font-family:larken;font-style:normal;font-weight:300;src:url('https://js.skyscnr.com/sttc/bpk-fonts/Larken-Light-8371ea16.woff2') format('woff2'), url('https://js.skyscnr.com/sttc/bpk-fonts/Larken-Light-39e53c9a.woff') format('woff')}@font-face{font-family:larken;font-style:normal;font-weight:400;src:url('https://js.skyscnr.com/sttc/bpk-fonts/Larken-Regular-3d9dfe29.woff2') format('woff2'), url('https://js.skyscnr.com/sttc/bpk-fonts/Larken-Regular-626ee28c.woff') format('woff')}@font-face{font-family:"Noto Sans Arabic";font-style:normal;font-weight:300;src:url('https://js.skyscnr.com/sttc/bpk-fonts/NotoSansArabic-Light-e77dc47a.woff2') format('woff2'), url('https://js.skyscnr.com/sttc/bpk-fonts/NotoSansArabic-Light-ea83f673.woff') format('woff'), url('https://js.skyscnr.com/sttc/bpk-fonts/NotoSansArabic-Light-b2ff05f9.ttf') format('ttf')}@font-face{font-family:"Noto Sans Arabic";font-style:normal;font-weight:400;src:url('https://js.skyscnr.com/sttc/bpk-fonts/NotoSansArabic-Regular-15a84e58.woff2') format('woff2'), url('https://js.skyscnr.com/sttc/bpk-fonts/NotoSansArabic-Regular-a2985c7a.woff') format('woff'), url('https://js.skyscnr.com/sttc/bpk-fonts/NotoSansArabic-Regular-471fde3d.ttf') format('ttf')}@font-face{font-family:"Noto Serif Hebrew";font-style:normal;font-weight:300;src:url('https://js.skyscnr.com/sttc/bpk-fonts/NotoSerifHebrew-Light-24198867.woff2') format('woff2'), url('https://js.skyscnr.com/sttc/bpk-fonts/NotoSerifHebrew-Light-7d94eb62.woff') format('woff'), url('https://js.skyscnr.com/sttc/bpk-fonts/NotoSerifHebrew-Light-320a7a43.ttf') format('ttf')}@font-face{font-family:"Noto Serif Hebrew";font-style:normal;font-weight:400;src:url('https://js.skyscnr.com/sttc/bpk-fonts/NotoSerifHebrew-Regular-a9e2c102.woff2') format('woff2'), url('https://js.skyscnr.com/sttc/bpk-fonts/NotoSerifHebrew-Regular-41b2944d.woff') format('woff'), url('https://js.skyscnr.com/sttc/bpk-fonts/NotoSerifHebrew-Regular-e8471015.ttf') format('ttf')}@font-face{font-family:"Noto Serif";font-style:normal;font-weight:300;src:url('https://js.skyscnr.com/sttc/bpk-fonts/NotoSerif-Light-46d7aaea.woff2') format('woff2'), url('https://js.skyscnr.com/sttc/bpk-fonts/NotoSerif-Light-412a21b9.woff') format('woff'), url('https://js.skyscnr.com/sttc/bpk-fonts/NotoSerif-Light-9dbdd5d2.ttf') format('ttf')}@font-face{font-family:"Noto Serif";font-style:italic;font-weight:300;src:url('https://js.skyscnr.com/sttc/bpk-fonts/NotoSerif-LightItalic-3df46bf3.woff2') format('woff2'), url('https://js.skyscnr.com/sttc/bpk-fonts/NotoSerif-LightItalic-b235c828.woff') format('woff'), url('https://js.skyscnr.com/sttc/bpk-fonts/NotoSerif-LightItalic-1a288873.ttf') format('ttf')}@font-face{font-family:"Noto Serif";font-style:normal;font-weight:400;src:url('https://js.skyscnr.com/sttc/bpk-fonts/NotoSerif-Regular-f9cc92ed.woff2') format('woff2'), url('https://js.skyscnr.com/sttc/bpk-fonts/NotoSerif-Regular-ea07f3b6.woff') format('woff'), url('https://js.skyscnr.com/sttc/bpk-fonts/NotoSerif-Regular-c8fe04e5.ttf') format('ttf')}@font-face{font-family:"Noto Serif";font-style:italic;font-weight:400;src:url('https://js.skyscnr.com/sttc/bpk-fonts/NotoSerif-Italic-132f7557.woff2') format('woff2'), url('https://js.skyscnr.com/sttc/bpk-fonts/NotoSerif-Italic-ceeb7a6f.woff') format('woff'), url('https://js.skyscnr.com/sttc/bpk-fonts/NotoSerif-Italic-25dbfc26.ttf') format('ttf')}@font-face{font-family:"Noto Serif Devanagari";font-style:normal;font-weight:300;src:url('https://js.skyscnr.com/sttc/bpk-fonts/NotoSerifDevanagari-Light-6f8c3ec2.woff2') format('woff2'), url('https://js.skyscnr.com/sttc/bpk-fonts/NotoSerifDevanagari-Light-9e5b16f1.woff') format('woff'), url('https://js.skyscnr.com/sttc/bpk-fonts/NotoSerifDevanagari-Light-d396b2f0.ttf') format('ttf')}@font-face{font-family:"Noto Serif Devanagari";font-style:normal;font-weight:400;src:url('https://js.skyscnr.com/sttc/bpk-fonts/NotoSerifDevanagari-Regular-05c8f8c5.woff2') format('woff2'), url('https://js.skyscnr.com/sttc/bpk-fonts/NotoSerifDevanagari-Regular-7b432355.woff') format('woff'), url('https://js.skyscnr.com/sttc/bpk-fonts/NotoSerifDevanagari-Regular-49b7fded.ttf') format('ttf')}@font-face{font-family:"Noto Serif Thai";font-style:normal;font-weight:300;src:url('https://js.skyscnr.com/sttc/bpk-fonts/NotoSerifThai-Light-c19b05eb.woff2') format('woff2'), url('https://js.skyscnr.com/sttc/bpk-fonts/NotoSerifThai-Light-c8dd8e9a.woff') format('woff'), url('https://js.skyscnr.com/sttc/bpk-fonts/NotoSerifThai-Light-7503fb65.ttf') format('ttf')}@font-face{font-family:"Noto Serif Thai";font-style:normal;font-weight:400;src:url('https://js.skyscnr.com/sttc/bpk-fonts/NotoSerifThai-Regular-807f25ca.woff2') format('woff2'), url('https://js.skyscnr.com/sttc/bpk-fonts/NotoSerifThai-Regular-4930d4b0.woff') format('woff'), url('https://js.skyscnr.com/sttc/bpk-fonts/NotoSerifThai-Regular-619e0cdd.ttf') format('ttf')}@font-face{font-family:"Noto Serif SC";font-style:normal;font-weight:300;src:url('https://js.skyscnr.com/sttc/bpk-fonts/NotoSerifSC-Light-340f3714.woff2') format('woff2'), url('https://js.skyscnr.com/sttc/bpk-fonts/NotoSerifSC-Light-0cad7edb.woff') format('woff'), url('https://js.skyscnr.com/sttc/bpk-fonts/NotoSerifSC-Light-4a0300b1.ttf') format('ttf')}@font-face{font-family:"Noto Serif SC";font-style:normal;font-weight:400;src:url('https://js.skyscnr.com/sttc/bpk-fonts/NotoSerifSC-Regular-81b3cace.woff2') format('woff2'), url('https://js.skyscnr.com/sttc/bpk-fonts/NotoSerifSC-Regular-861a6d77.woff') format('woff'), url('https://js.skyscnr.com/sttc/bpk-fonts/NotoSerifSC-Regular-e6f67c70.ttf') format('ttf')}@font-face{font-family:"Noto Serif TC";font-style:normal;font-weight:300;src:url('https://js.skyscnr.com/sttc/bpk-fonts/NotoSerifTC-Light-d06d870d.woff2') format('woff2'), url('https://js.skyscnr.com/sttc/bpk-fonts/NotoSerifTC-Light-e7d41ebf.woff') format('woff'), url('https://js.skyscnr.com/sttc/bpk-fonts/NotoSerifTC-Light-a575e20b.ttf') format('ttf')}@font-face{font-family:"Noto Serif TC";font-style:normal;font-weight:400;src:url('https://js.skyscnr.com/sttc/bpk-fonts/NotoSerifTC-Regular-ba80e9e3.woff2') format('woff2'), url('https://js.skyscnr.com/sttc/bpk-fonts/NotoSerifTC-Regular-24d6fd67.woff') format('woff'), url('https://js.skyscnr.com/sttc/bpk-fonts/NotoSerifTC-Regular-81f7cfa9.ttf') format('ttf')}@font-face{font-family:"Noto Serif JP";font-style:normal;font-weight:300;src:url('https://js.skyscnr.com/sttc/bpk-fonts/NotoSerifJP-Light-300342ba.woff2') format('woff2'), url('https://js.skyscnr.com/sttc/bpk-fonts/NotoSerifJP-Light-908de8db.woff') format('woff'), url('https://js.skyscnr.com/sttc/bpk-fonts/NotoSerifJP-Light-4fdde149.ttf') format('ttf')}@font-face{font-family:"Noto Serif JP";font-style:normal;font-weight:400;src:url('https://js.skyscnr.com/sttc/bpk-fonts/NotoSerifJP-Regular-04cd06e8.woff2') format('woff2'), url('https://js.skyscnr.com/sttc/bpk-fonts/NotoSerifJP-Regular-5ec4849d.woff') format('woff'), url('https://js.skyscnr.com/sttc/bpk-fonts/NotoSerifJP-Regular-5926d365.ttf') format('ttf')}@font-face{font-family:"Noto Serif KR";font-style:normal;font-weight:300;src:url('https://js.skyscnr.com/sttc/bpk-fonts/NotoSerifKR-Light-cafbe1fe.woff2') format('woff2'), url('https://js.skyscnr.com/sttc/bpk-fonts/NotoSerifKR-Light-60488ca3.woff') format('woff'), url('https://js.skyscnr.com/sttc/bpk-fonts/NotoSerifKR-Light-4149d2b6.ttf') format('ttf')}@font-face{font-family:"Noto Serif KR";font-style:normal;font-weight:400;src:url('https://js.skyscnr.com/sttc/bpk-fonts/NotoSerifKR-Regular-f6377da5.woff2') format('woff2'), url('https://js.skyscnr.com/sttc/bpk-fonts/NotoSerifKR-Regular-a5cc7c23.woff') format('woff'), url('https://js.skyscnr.com/sttc/bpk-fonts/NotoSerifKR-Regular-2fa19520.ttf') format('ttf')}[lang=ja-JP],:lang(ja-JP){--bpk-larken-font-stack: larken, "Noto Serif JP", "Noto Serif SC", "Noto Serif TC", "Noto Serif KR", "Noto Sans Arabic", "Noto Serif Hebrew", "Noto Serif", "Noto Serif Devanagari", "Noto Serif Thai", sans-serif}[lang=zh-TW],:lang(zh-TW),[lang=zh-HK],:lang(zh-HK){--bpk-larken-font-stack: larken, "Noto Serif TC", "Noto Serif SC", "Noto Serif JP", "Noto Serif KR", "Noto Sans Arabic", "Noto Serif Hebrew", "Noto Serif", "Noto Serif Devanagari", "Noto Serif Thai", sans-serif}[lang=zh-CN],:lang(zh-CN){--bpk-larken-font-stack: larken, "Noto Serif SC", "Noto Serif TC", "Noto Serif JP", "Noto Serif KR", "Noto Sans Arabic", "Noto Serif Hebrew", "Noto Serif", "Noto Serif Devanagari", "Noto Serif Thai", sans-serif}[lang=ko-KR],:lang(ko-KR){--bpk-larken-font-stack: larken, "Noto Serif KR", "Noto Serif JP", "Noto Serif SC", "Noto Serif TC", "Noto Sans Arabic", "Noto Serif Hebrew", "Noto Serif", "Noto Serif Devanagari", "Noto Serif Thai", sans-serif}[lang=th-TH],:lang(th-TH){--bpk-larken-font-stack: larken, "Noto Serif Thai", "Noto Sans Arabic", "Noto Serif Hebrew", "Noto Serif", "Noto Serif Devanagari", sans-serif}[lang=hi-IN],:lang(hi-IN){--bpk-larken-font-stack: larken, "Noto Serif Devanagari", "Noto Sans Arabic", "Noto Serif Hebrew", "Noto Serif", "Noto Serif Thai", sans-serif}[lang=ar],:lang(ar){--bpk-larken-font-stack: larken, "Noto Sans Arabic", "Noto Serif Hebrew", "Noto Serif", "Noto Serif Devanagari", "Noto Serif Thai", sans-serif}[lang=he],:lang(he){--bpk-larken-font-stack: larken, "Noto Serif Hebrew", "Noto Sans Arabic", "Noto Serif", "Noto Serif Devanagari", "Noto Serif Thai", sans-serif}[lang=el-GR],:lang(el-GR),[lang=ru-RU],:lang(ru-RU),[lang=uk-UA],:lang(uk-UA),[lang=bg-BG],:lang(bg-BG),[lang=vi-VN],:lang(vi-VN){--bpk-larken-font-stack: larken, "Noto Serif", "Noto Sans Arabic", "Noto Serif Hebrew", "Noto Serif Devanagari", "Noto Serif Thai", sans-serif}

/*# sourceMappingURL=main.css.map*/